<section class=" section discount" style="background: #bbb;">
  <div class="section-header">
    <div class="text">
      <h2>Sconti disponibili</h2>
      <p>Scegli tuo sconto preferito</p>
    </div>
    <div class="cta">
      <a href="/discounts" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body grid-4 mt-1 text-center">
    <div class="discount-box"><a href=""><i class="icon ion-md-pricetags"></i> Sconto del 10%</a></div>
    <div class="discount-box"><a href=""><i class="icon ion-md-pricetags"></i> Sconto del 20%</a></div>
    <div class="discount-box"><a href=""><i class="icon ion-md-pricetags"></i> Sconto del 30%</a></div>
    <div class="discount-box"> <a href=""><i class="icon ion-md-pricetags"></i>Sconto del 40%</a></div>
    <div class="discount-box"> <a href=""><i class="icon ion-md-pricetags"></i>Sconto del 50%</a></div>
    <div class="discount-box"> <a href="" <i class="icon ion-md-pricetags"></i>>Sconto del 60%</a></div>
    <div class="discount-box"> <a href=""><i class="icon ion-md-pricetags"></i>Sconto del 70%</a></div>
    <div class="discount-box"> <a href=""><i class="icon ion-md-pricetags"></i>Svendite magazzino</a></div>
  </div>
</section>