<section class=" section offers" style="background: #ccc;">
  <div class="section-header">
    <div class="text">
      <h2>Migliori offerte</h2>
      <p>Selezione di offerte migliori per te disponibili a <span>Mestre</span> </p>
    </div>
    <div class="cta">
      <a href="/coupons" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body grid-6 mt-1 text-center">
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/logo.jpg" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Flori'</h3>
        <p>Sconto del 10% su composizioni di Natale</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/maxmara_logo.png" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>MaxMara</h3>
        <p>Sconto del 10% su calzature</p>
      </div>
      <div class="card-footer">
       <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/intimissimi_logo.png" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Intimissimi</h3>
        <p>Sconto del 10% su maglieria donna</p>
      </div>
      <div class="card-footer">
       <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/salomon_logo.png" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Salomon</h3>
        <p>Sconto del 10% su scarponi da montagna</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/calzedonia_logo.jpg" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Calzedonia</h3>
        <p>Sconto del 10% su calze estive</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/adidas_logo.png" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Adidas</h3>
        <p>Sconto del 10% su articoli da jogging</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>

</section>