<section class=" section cities" style="background: #ccc;">
  <div class="section-header">
    <div class="text">
      <h2>Piazze attive nel Veneto</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="cta">
      <a href="/cities" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body grid-6-small mt-1 text-center" style="overflow: hidden;">
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/734229/pexels-photo-734229.jpeg?cs=srgb&dl=art-ceremony-classic-734229.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Venezia</h3>
        <a href="">20 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/5956/gift-brown-shopping-market.jpg?cs=srgb&dl=bag-bags-bargain-5956.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Verona</h3>
        <a href="">30 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/5205/food-healthy-vegetables-potatoes.jpg?cs=srgb&dl=aubergines-bio-cabbage-5205.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Mestre</h3>
        <a href="">15 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/205961/pexels-photo-205961.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Treviso</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/1086164/pexels-photo-1086164.jpeg?cs=srgb&dl=background-city-classic-1086164.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Vicenza</h3>
        <a href="">25 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/264771/pexels-photo-264771.jpeg?cs=srgb&dl=birthday-bow-box-264771.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Padova</h3>
        <a href="">20 offerte disponibili</a>
      </div>
    </div>
</section>