<nav class="nav">
      <div class="row d-flex-row-sb">
        <div class="d-flex-row-sb">
          <div class="brand">
           <a href="/"><h1 class="">Veneto Sconti</h1></a> 
          </div>
          <ul class="navbar">
            <li><a class="nav-link" href="/coupons">Migliori offerte</a></li>
            <li><a class="nav-link" href="/categories">Categorie</a></li>
            <li><a class="nav-link" href="/discounts">Sconti</a></li>
            <li><a class="nav-link" href="/cities">Citta'</a></li>
          </ul>
        </div>
        <div class="search">
          <form class="search-form">
            <input type="search" class="search" placeholder="Cerca prodotto, sconto o negozio">
            <button class="btn-search">Cerca</button>
          </form>
        </div>
      </div>
      <div class="row">
        <p>Stai visualizzando le offerte di Mestre, per cambiare la citta' clicca <a href="">qui</a></p>
      </div>
    </nav>