<section class=" section newsletter" style="background: #bbb;">
  <div class="text">
    <h3>Sii tra i primi a saperlo</h3>
    <h5>Oltre 10 000 persone ricevono le offerte migliori blablabla</h5>
    <p>Inserendo la tua mail confermi di sottoscrivere <a href="">Termini e condizioni</a> e <a href="">Privacy policy</a> </p>
  </div>
  <form action="/newsletter" method="POST">
    <input type="text" placeholder="Inserisci tua email" style="padding: 1.5em">
    <button type="submit" style="padding: 1.4em 1.5em"><i <i class="icon ion-md-mail"></i></button>
  </form>
</section>