<section class=" section shops" style="background: #bbb;">
  <div class="section-header">
    <div class="text">
      <h2>Categorie piu' ricercati</h2>
      <p>Selezione di negozi piu' ricercati a <span>Mestre</span> </p>
    </div>
    <div class="cta">
      <a href="/categories" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body mt-1 text-center tabs-section">
    <div class="tab">
      <button class="tablinks" id="defaultOpen" onclick="openCategory(event, 'moda')">
        <i class="icon ion-md-shirt"></i>
        moda
      </button>
      <button class="tablinks" onclick="openCategory(event, 'viaggi')">
        <i class="icon ion-md-train"></i>
        viaggi
      </button>
      <button class="tablinks" onclick="openCategory(event, 'rist')">
        <i class="icon ion-md-shirt"></i>
        ristoranti
      </button>
      <button class="tablinks" onclick="openCategory(event, 'casa')">
        <i class="icon ion-md-home"></i>
        casalinghi
      </button>
      <button class="tablinks" onclick="openCategory(event, 'elet')">
        <i class="icon ion-md-laptop"></i>
        elettrodomestici
      </button>
      <button class="tablinks" onclick="openCategory(event, 'bellezza')">
        <i class="icon ion-md-heart"></i>
        salute e bellezza
      </button>
    </div>
    <div id="moda" class="tabcontent">
      <div class="grid-3-small" style=" height: 100%; display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; align-content:space-around">
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <a href="">Vedi tutte le offerte disponibili in questa categoria</a>
        </div>
      </div>
    </div>
    <div id="viaggi" class="tabcontent">
      <div class="box">
        <h3>Viaggi</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div id="rist" class="tabcontent">
      <div class="box">
        <h3>Ristoranti</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div id="casa" class="tabcontent">
      <div class="box">
        <h3>Casalinghi</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div id="elet" class="tabcontent">
      <div class="box">
        <h3>Elettrodomestici</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div id="bellezza" class="tabcontent">
      <div class="box">
        <h3>Bellezza</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
  </div>
</section>
<section class="section top-ffers" style="background: #ccc;">
  <div class="section-body grid-3 text-center">
    <div class=" box grid-offer-1">
      <img src="https://images.pexels.com/photos/264554/pexels-photo-264554.jpeg?cs=srgb&dl=boutique-clothes-clothing-264554.jpg&fm=jpg"
        alt="" style="width: 100%;">
      <div class="text-block">
        <h3>Offerta del giorno</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, sequi.</p>
      </div>
    </div>
    <div class=" box grid-offer-1">
      <img src="https://images.pexels.com/photos/135620/pexels-photo-135620.jpeg?cs=srgb&dl=apparel-boutique-colors-135620.jpg&fm=jpg"
        alt="" style="width: 100%;">
      <div class="text-block">
        <h3>Offerta del giorno</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, sequi.</p>
      </div>
    </div>
    <div class=" box grid-offer-1">
      <img src="https://images.pexels.com/photos/165228/pexels-photo-165228.jpeg?cs=srgb&dl=business-chinese-container-165228.jpg&fm=jpg"
        alt="" style="width: 100%;">
      <div class="text-block">
        <h3>Offerta del giorno</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, sequi.</p>
      </div>
    </div>

  </div>
</section>