<section class="top-container">
  <div class="box-left" style="background: #bbb;">
    <h4>Pubblicita'</h4>

  </div>
  <div class="showcase" style="background: #bbb;">
    <div class="showcase-1 showcase-item">
      {{!-- <img src="https://images.pexels.com/photos/972937/pexels-photo-972937.jpeg?cs=srgb&dl=adult-beautiful-beauty-972937.jpg&fm=jpg"
        alt="" width="300">
      <div class="content">
        Card
      </div> --}}

    </div>
    <div class="showcase-2 showcase-item">Card</div>
    <div class="showcase-3 showcase-item">Card</div>
    <div class="showcase-4 showcase-item">Card</div>
    <div class="showcase-5 showcase-item">Card</div>
  </div>
  <div class="box-right" style="background: #bbb;">
    <h4>Pubblicita'</h4>

  </div>
</section>