<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sconti Veneto</title>
  <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>

<body>
  <div class="grid-main">
    {{> navbar}}
    <aside class="aside-menu">
      <ul>
        <li class="dropdown">
          <button class="dropbtn">Categorie</button>
          <ul class="drop_content">
            <li class="drop_link"><a href="">Moda</a></li>
            <li class="drop_link"><a href="">Casalinghi</a></li>
            <li class="drop_link"><a href="">Viaggi</a></li>
            <li class="drop_link"><a href="">Salute e Bellezza</a></li>
            <li class="drop_link"><a href="">Ristoranti</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <button class="dropbtn">Sconti</button>
          <ul class="drop_content">
            <li class="drop_link"><a href="">Sconto del 10%</a></li>
            <li class="drop_link"><a href="">Sconto del 20%</a></li>
            <li class="drop_link"><a href="">Sconto del 30%</a></li>
            <li class="drop_link"><a href="">Sconto del 40%</a></li>
            <li class="drop_link"><a href="">Sconto del 50%</a></li>
            <li class="drop_link"><a href="">Sconto del 60%</a></li>
            <li class="drop_link"><a href="">Sconto del 70%</a></li>
            <li class="drop_link"><a href="">Svendite magazzino</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <button class="dropbtn">Negozi</button>
          <ul class="drop_content">
            <li class="drop_link"><a href="">Negozio 1</a></li>
            <li class="drop_link"><a href="">Negozio 2</a></li>
            <li class="drop_link"><a href="">Negozio 3</a></li>
            <li class="drop_link"><a href="">Negozio 4</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <main class="main-content">
      {{{body}}}
    </main>
    
    <footer class="footer">
      <p>&copy; Veneto World 2018</p>
      <p>Contatti: <a href="mailto:info@scontiveneto.com"></a> info@scontiveneto.com</p>
    </footer>
  
  <script type="text/javascript" src="/public/js/scripts.js"></script>
</body>

</html>