<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sconti Veneto</title>
  <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>

<body>
  {{!-- wrapper | start --}}
  <div class="wrapper">
    <nav class="nav">
      <div class="row">
        <p>Stai visualizzando le offerte di Mestre, per cambiare la citta' clicca <a href="">qui</a></p>
      </div>
      <div class="row flex">
        <div class="brand">
          <h1 class="">Veneto Sconti</h1>
        </div>
        <div class="search">
          <form>
            <input type="search">
            <button>Search</button>
          </form>
        </div>
      </div>
      <div class="row">
        <ul class="navbar">
          <li ><a class="nav-link" href="">Categorie</a></li>
          <li><a class="nav-link" href="">Negozi</a></li>
          <li><a class="nav-link" href="">Sconti</a></li>
          <li><a class="nav-link" href="">Citta'</a></li>
        </ul>
      </div>
    </nav>
    {{!-- top container|start --}}
    <section class="top-container">
      <header class="header">
        <h1>Sconti nel Veneto</h1>
        <p>Lorem ipsum dolor sit amet.</p>
      </header>
      <a href="" class="top-box top-box-a">
        <h4>Pubblicita'</h4>
        <p class="price">€300/mese</p>
        <a href="" class="btn">Acquista</a>
      </a>
      <a href="" class="top-box top-box-b">
        <h4>Pubblicita'</h4>
        <p class="price">€300/mese</p>
        <a href="" class="btn">Acquista</a>
      </a>
    </section>
    {{!-- top container|start --}}

    {{!-- section|offers --}}
    <section class="offers boxes">
      <div class="section-header">
        <h2>Miglieri offerte</h2>
        <p>Selezione di offerte migliori per te disponibili a <span>Mestre</span> </p>
      </div>
      <div class="box">
        <h3>Intimissimi</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
      </div>
      <div class="box">
        <h3>Intimissimi</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
      </div>
      <div class="box">
        <h3>Intimissimi</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
      </div>
      <div class="box">
        <h3>Intimissimi</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
      </div>
    </section> {{!-- section|offers --}}
    <section class="shops">
      <div class="section-header">
        <h2>Negozi piu' ricercati</h2>
        <p>Selezione di negozi piu' ricercati a <span>Mestre</span> </p>
      </div>

    </section>
    <section class="top">
      <div class="box">Offerte top</div>
      <div class="box">Offerte top</div>
      <div class="box">Offerte top</div>

    </section>
    <section class="discount">
      <h2>Sonti disponibili</h2>
      <p>Scegli tuo sconto preferito</p>
      <div class="box"> <a href="">Sconto del 10%</a></div>
      <div class="box"> <a href="">Sconto del 20%</a></div>
      <div class="box"> <a href="">Sconto del 30%</a></div>
      <div class="box"> <a href="">Sconto del 40%</a></div>
      <div class="box"> <a href="">Sconto del 50%</a></div>
      <div class="box"> <a href="">Sconto da 60%</a></div>

    </section>
    <section class="cities">
      <h2>Piazze attive nel Veneto</h2>
      <p>Scegli citta' piu' vicina a te</p>
      <div class="box">
        <h3>Venezia</h3>
        <a href="">20 offerte disponibili</a>
      </div>
    </section>
    {{!-- newsletter|start --}}
    <section class="newsletter">
      <form action="/emails" method="POST">
        <input type="text" placeholder="Inserisci tua email">
        <button type="submit"><i <i class="icon ion-md-mail"></i></button>
      </form>
    </section> {{!-- newsletter|start --}}


    <footer>
      <p>&copy;Veneto World 2018</p>
      <p>Contatti: info@scontiveneto.com</p>
    </footer>

  </div> {{!-- wrapper | end --}}




  <script type="text/javascript" src="/public/js/scripts.js"></script>
</body>

</html>