<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sconti Veneto</title>
  <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>

<body>
  {{!-- grid/start --}}
  <div class="grid">
    <nav class="nav">
      <div class="row d-flex-row-sb">
        <div class="d-flex-row-sb">
          <div class="brand">
           <a href="/"><h1 class="">Veneto Sconti</h1></a> 
          </div>
          <ul class="navbar">
            <li><a class="nav-link" href="/coupons">Migliori offerte</a></li>
            <li><a class="nav-link" href="/categories">Categorie</a></li>
            <li><a class="nav-link" href="/discounts">Sconti</a></li>
            <li><a class="nav-link" href="/cities">Citta'</a></li>
          </ul>
        </div>
        <div class="search">
          <form>
            <input type="search" placeholder="Cerca prodotto, sconto o negozio">
            <button>Cerca</button>
          </form>
        </div>
      </div>
      <div class="row">
        <p>Stai visualizzando le offerte di Mestre, per cambiare la citta' clicca <a href="">qui</a></p>
      </div>
    </nav>
    {{{body}}}
    <footer class="footer">
      <p>&copy; Veneto World 2018</p>
      <p>Contatti: <a href="mailto:info@scontiveneto.com"></a> info@scontiveneto.com</p>
    </footer>
  </div> {{!-- grid/end --}}
  <script type="text/javascript" src="/public/js/scripts.js"></script>
</body>

</html>