<h1>Crea coupon</h1>
<form action="" method="POST">
  <div class="form-group">
    <label for="title">Titolo dell'offerta</label>
    <input type="text" name="title">
  </div>
  <div class="form-group">
    <label for="description">Descrizione dell'offerta</label>
    <textarea name="description" id="description" cols="30"></textarea>
  </div>
  <div class="form-group">
    <label for="startDate">Sconto inizia</label>
    <input type="date" name="startDate" id="startDate">
  </div>
  <div class="form-group">
    <label for="endDate">Sconto finisce</label>
    <input type="date" name="endDate" id="endDate">
  </div>
  <div class="form-group">
    <label for="conditions">Condizioni</label>
    <input type="text" name="conditions" id="conditions">
  </div>
  <div class="form-group">
    <label for="shopImg">Imagine del negozio</label>
    <input type="text" name="shopImg" id="shopImg">
  </div>
  <div class="form-group">
    <label for="shopLogo">Logo del negozio</label>
    <input type="text" name="shopLogo" id="shopLogo">
  </div>
  <div class="form-group">
    <label for="exclusive">Voucher esclusivo</label>
    <input type="checkbox" name="exclusive" id="exclusive">
  </div>
  <div class="form-group">
    <label for="publish">Pubblica</label>
     <input type="checkbox" name="publish" id="publish">
  </div>
  <div class="form-group">
    <input type="submit" value="Submit">
  </div>

</form>
