{{#each coupons}}
{{/each}}
<div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:start;">
  <div style="display: flex; ">
    <div class="card-header" style="margin-right: 15px;">
      <img src="../public/css/logos/logo.jpg" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
    </div>
    <div class="card-body">
      <h3>Nome negozio</h3>
      <p>Descrizione offerta Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, deleniti?</p>
      <p>Scadenza offerta</p>
      <a href="">Scarica l'offerta</a>
      <div>
        <a href="">vedi tutte le offerte del negozio</a>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p>Condizioni</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, rerum.</p>
  </div>
</div>