<aside>
  <ul>
    <li>Categorie
      <ul>
        <li><a href="">Moda</a></li>
        <li><a href="">Casalinghi</a></li>
        <li><a href="">Viaggi</a></li>
        <li><a href="">Salute e Bellezza</a></li>
        <li><a href="">Ristoranti</a></li>
      </ul>
    </li>
    <li>Sconti
      <ul>
        <li><a href="">Sconto del 10%</a></li>
        <li><a href="">Sconto del 20%</a></li>
        <li><a href="">Sconto del 30%</a></li>
        <li><a href="">Sconto del 40%</a></li>
        <li><a href="">Sconto del 50%</a></li>
        <li><a href="">Sconto del 60%</a></li>
        <li><a href="">Sconto del 70%</a></li>
        <li><a href="">Svendite magazzino</a></li>
      </ul>
    </li>
    
    <li>Negozi
      <ul>
        <li><a href="">Negozio 1</a></li>
        <li><a href="">Negozio 2</a></li>
        <li><a href="">Negozio 3</a></li>
        <li><a href="">Negozio 4</a></li>
      </ul>
    </li>

  </ul>
</aside>