<h2>tutti gli sconti</h2>

<section class="section">
  <div class="section-header">
    <div class="text">
      <h2>Livello sconto</h2>
      <p>Selezione di offerte migliori per te disponibili a <span>Mestre</span> </p>
    </div>
    <div class="cta">
      <a href="/categories/{{category._id}}" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body">
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/logo.jpg" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Flori'</h3>
        <p>Sconto del 10% su composizioni di Natale</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>
  </div>
</section>