  <header class=" header">
      <h1>Sconti in Piazza</h1>
      <p>Lorem ipsum dolor sit amet.</p>
    </header>
    {{!-- top container|start --}}
    <section class="top-container">
      <div class="box-left" style="background: #bbb;">
        <h4>Pubblicita'</h4>
        <p class="price">€300/mese</p>
        <a href="" class="btn">Acquista</a>
      </div>
      <div class="showcase" style="background: #bbb;">
        <div class="showcase-1 showcase-item">
          {{!-- <img src="https://images.pexels.com/photos/972937/pexels-photo-972937.jpeg?cs=srgb&dl=adult-beautiful-beauty-972937.jpg&fm=jpg" alt="" width="300">
          <div class="content">
Card
          </div> --}}
          
          </div>
        <div class="showcase-2 showcase-item">Card</div>
        <div class="showcase-3 showcase-item">Card</div>
        <div class="showcase-4 showcase-item">Card</div>
        <div class="showcase-5 showcase-item">Card</div>
      </div>
      <div class="box-right" style="background: #bbb;">
        <h4>Pubblicita'</h4>
        <p class="price">€300/mese</p>
        <a href="" class="btn">Acquista</a>
      </div>
    </section>
    {{!-- top container|start --}}

    {{!-- section|offers --}}
    <section class=" section offers" style="background: #ccc;">
      <div class="section-header">
        <div class="text">
          <h2>Migliori offerte</h2>
          <p>Selezione di offerte migliori per te disponibili a <span>Mestre</span> </p>
        </div>
        <div class="cta">
          <a href="/coupons" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
        </div>
      </div>
      <div class="section-body grid-6 mt-1 text-center">
        <div class="box">
          <h3>Intimissimi</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, dicta!</p>
        </div>
      </div>

    </section> {{!-- section|offers --}}
    <section class=" section shops" style="background: #bbb;">
      <div class="section-header">
        <div class="text">
          <h2>Categorie piu' ricercati</h2>
          <p>Selezione di negozi piu' ricercati a <span>Mestre</span> </p>
        </div>
        <div class="cta">
          <a href="/categories" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
        </div>
      </div>
      <div class="section-body mt-1 text-center tabs-section">
        <div class="tab">
          <button class="tablinks" class="active" onclick="openCategory(event, 'moda')">
            <i class="icon ion-md-shirt"></i>
            moda
          </button>
          <button class="tablinks" onclick="openCategory(event, 'viaggi')">
            <i class="icon ion-md-train"></i>
            viaggi
          </button>
          <button class="tablinks" onclick="openCategory(event, 'rist')">
            <i class="icon ion-md-shirt"></i>
            ristoranti
          </button>
          <button class="tablinks" onclick="openCategory(event, 'casa')">
            <i class="icon ion-md-home"></i>
            casalinghi
          </button>
          <button class="tablinks" onclick="openCategory(event, 'elet')">
            <i class="icon ion-md-laptop"></i>
            elettrodomestici
          </button>
          <button class="tablinks" onclick="openCategory(event, 'bellezza')">
            <i class="icon ion-md-heart"></i>
            salute e bellezza
          </button>
        </div>
        <div id="moda" class="tabcontent" style="display: block">
          <div class="box">
            <h3>Intimissimi</h3>
            <a href="">5 offerte disponibili</a>
          </div>
        </div>
        <div id="viaggi" class="tabcontent">
          <div class="box">
            <h3>Viaggi</h3>
            <a href="">5 offerte disponibili</a>
          </div>
        </div>
        <div id="rist" class="tabcontent">
          <div class="box">
            <h3>Ristoranti</h3>
            <a href="">5 offerte disponibili</a>
          </div>
        </div>
        <div id="casa" class="tabcontent">
          <div class="box">
            <h3>Casalinghi</h3>
            <a href="">5 offerte disponibili</a>
          </div>
        </div>
        <div id="elet" class="tabcontent">
          <div class="box">
            <h3>Elettrodomestici</h3>
            <a href="">5 offerte disponibili</a>
          </div>
        </div>
        <div id="bellezza" class="tabcontent">
          <div class="box">
            <h3>Bellezza</h3>
            <a href="">5 offerte disponibili</a>
          </div>
        </div>
      </div>
    </section>
    <section class=" section top-ffers" style="background: #ccc;">
      <div class="section-body grid-3 text-center">
        <div class="box">Offerta del giorno</div>
        <div class="box">Offerta del giorno</div>
        <div class="box">Offerta del giorno</div>
      </div>
    </section>

    <section class=" section discount" style="background: #bbb;">
      <div class="section-header">
        <div class="text">
          <h2>Sconti disponibili</h2>
          <p>Scegli tuo sconto preferito</p>
        </div>
        <div class="cta">
          <a href="/discounts" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
        </div>
      </div>
      <div class="section-body grid-4 mt-1 text-center">
        <div class="box"> <a href="">Sconto del 10%</a></div>
        <div class="box"> <a href="">Sconto del 20%</a></div>
        <div class="box"> <a href="">Sconto del 30%</a></div>
        <div class="box"> <a href="">Sconto del 40%</a></div>
        <div class="box"> <a href="">Sconto del 50%</a></div>
        <div class="box"> <a href="">Sconto del 60%</a></div>
        <div class="box"> <a href="">Sconto del 70%</a></div>
        <div class="box"> <a href="">Svendite magazzino</a></div>
      </div>
    </section>
    <section class=" section cities" style="background: #ccc;">
      <div class="section-header">
        <div class="text">
          <h2>Piazze attive nel Veneto</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="cta">
          <a href="/cities" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
        </div>
      </div>
      <div class="section-body grid-6 mt-1 text-center">
        <div class="box">
          <h3>Venezia</h3>
          <a href="">20 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Verona</h3>
          <a href="">20 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Vicenza</h3>
          <a href="">20 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Padova</h3>
          <a href="">20 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Treviso</h3>
          <a href="">20 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Mestre</h3>
          <a href="">20 offerte disponibili</a>
        </div>
      </div>
    </section>
    {{!-- newsletter|start --}}
    <section class=" section newsletter" style="background: #bbb;">
      <form action="/newsletter" method="POST">
        <input type="text" placeholder="Inserisci tua email">
        <button type="submit"><i <i class="icon ion-md-mail"></i></button>
      </form>
    </section> {{!-- newsletter|start --}}