<header class=" header">
  <h1>Sconti in Piazza</h1>
  <p>Lorem ipsum dolor sit amet.</p>
</header>
{{!-- top container|start --}}
<section class="top-container">
  <div class="box-left" style="background: #bbb;">
    <h4>Pubblicita'</h4>

  </div>
  <div class="showcase" style="background: #bbb;">
    <div class="showcase-1 showcase-item">
      {{!-- <img src="https://images.pexels.com/photos/972937/pexels-photo-972937.jpeg?cs=srgb&dl=adult-beautiful-beauty-972937.jpg&fm=jpg"
        alt="" width="300">
      <div class="content">
        Card
      </div> --}}

    </div>
    <div class="showcase-2 showcase-item">Card</div>
    <div class="showcase-3 showcase-item">Card</div>
    <div class="showcase-4 showcase-item">Card</div>
    <div class="showcase-5 showcase-item">Card</div>
  </div>
  <div class="box-right" style="background: #bbb;">
    <h4>Pubblicita'</h4>

  </div>
</section>
{{!-- top container|start --}}

{{!-- section|offers --}}
<section class=" section offers" style="background: #ccc;">
  <div class="section-header">
    <div class="text">
      <h2>Migliori offerte</h2>
      <p>Selezione di offerte migliori per te disponibili a <span>Mestre</span> </p>
    </div>
    <div class="cta">
      <a href="/coupons" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body grid-6 mt-1 text-center">
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/logo.jpg" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Flori'</h3>
        <p>Sconto del 10% su composizioni di Natale</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/maxmara_logo.png" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>MaxMara</h3>
        <p>Sconto del 10% su calzature</p>
      </div>
      <div class="card-footer">
       <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/intimissimi_logo.png" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Intimissimi</h3>
        <p>Sconto del 10% su maglieria donna</p>
      </div>
      <div class="card-footer">
       <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/salomon_logo.png" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Salomon</h3>
        <p>Sconto del 10% su scarponi da montagna</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/calzedonia_logo.jpg" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Calzedonia</h3>
        <p>Sconto del 10% su calze estive</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:center;">
      <div class="card-header" style="">
        <img src="../public/css/logos/adidas_logo.png" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
      </div>
      <div class="card-body">
        <h3>Adidas</h3>
        <p>Sconto del 10% su articoli da jogging</p>
      </div>
      <div class="card-footer">
        <p>scade fra 5 giorni</p>
      </div>
    </div>

</section> {{!-- section|offers --}}
<section class=" section shops" style="background: #bbb;">
  <div class="section-header">
    <div class="text">
      <h2>Categorie piu' ricercati</h2>
      <p>Selezione di negozi piu' ricercati a <span>Mestre</span> </p>
    </div>
    <div class="cta">
      <a href="/categories" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body mt-1 text-center tabs-section">
    <div class="tab">
      <button class="tablinks" id="defaultOpen" onclick="openCategory(event, 'moda')">
        <i class="icon ion-md-shirt"></i>
        moda
      </button>
      <button class="tablinks" onclick="openCategory(event, 'viaggi')">
        <i class="icon ion-md-train"></i>
        viaggi
      </button>
      <button class="tablinks" onclick="openCategory(event, 'rist')">
        <i class="icon ion-md-shirt"></i>
        ristoranti
      </button>
      <button class="tablinks" onclick="openCategory(event, 'casa')">
        <i class="icon ion-md-home"></i>
        casalinghi
      </button>
      <button class="tablinks" onclick="openCategory(event, 'elet')">
        <i class="icon ion-md-laptop"></i>
        elettrodomestici
      </button>
      <button class="tablinks" onclick="openCategory(event, 'bellezza')">
        <i class="icon ion-md-heart"></i>
        salute e bellezza
      </button>
    </div>
    <div id="moda" class="tabcontent">
      <div class="grid-3-small" style=" height: 100%; display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; align-content:space-around">
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <h3>Intimissimi</h3>
          <a href="">5 offerte disponibili</a>
        </div>
        <div class="box">
          <a href="">Vedi tutte le offerte disponibili in questa categoria</a>
        </div>
      </div>
    </div>
    <div id="viaggi" class="tabcontent">
      <div class="box">
        <h3>Viaggi</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div id="rist" class="tabcontent">
      <div class="box">
        <h3>Ristoranti</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div id="casa" class="tabcontent">
      <div class="box">
        <h3>Casalinghi</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div id="elet" class="tabcontent">
      <div class="box">
        <h3>Elettrodomestici</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div id="bellezza" class="tabcontent">
      <div class="box">
        <h3>Bellezza</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
  </div>
</section>
<section class="section top-ffers" style="background: #ccc;">
  <div class="section-body grid-3 text-center">
    <div class=" box grid-offer-1">
      <img src="https://images.pexels.com/photos/264554/pexels-photo-264554.jpeg?cs=srgb&dl=boutique-clothes-clothing-264554.jpg&fm=jpg"
        alt="" style="width: 100%;">
      <div class="text-block">
        <h3>Offerta del giorno</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, sequi.</p>
      </div>
    </div>
    <div class=" box grid-offer-1">
      <img src="https://images.pexels.com/photos/135620/pexels-photo-135620.jpeg?cs=srgb&dl=apparel-boutique-colors-135620.jpg&fm=jpg"
        alt="" style="width: 100%;">
      <div class="text-block">
        <h3>Offerta del giorno</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, sequi.</p>
      </div>
    </div>
    <div class=" box grid-offer-1">
      <img src="https://images.pexels.com/photos/165228/pexels-photo-165228.jpeg?cs=srgb&dl=business-chinese-container-165228.jpg&fm=jpg"
        alt="" style="width: 100%;">
      <div class="text-block">
        <h3>Offerta del giorno</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, sequi.</p>
      </div>
    </div>

  </div>
</section>

<section class=" section discount" style="background: #bbb;">
  <div class="section-header">
    <div class="text">
      <h2>Sconti disponibili</h2>
      <p>Scegli tuo sconto preferito</p>
    </div>
    <div class="cta">
      <a href="/discounts" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body grid-4 mt-1 text-center">
    <div class="discount-box">
      <a href="">
        <i class="icon ion-md-pricetags"></i>
        Sconto del 10%
      </a>
    </div>
    <div class="discount-box">
      <a href=""><i class="icon ion-md-pricetags"></i>
        Sconto del 20%</a>
    </div>
    <div class="discount-box">
      <a href="">
        <i class="icon ion-md-pricetags"></i>
        Sconto del 30%</a>
    </div>
    <div class="discount-box"> <a href=""><i class="icon ion-md-pricetags"></i>Sconto del 40%</a></div>
    <div class="discount-box"> <a href=""><i class="icon ion-md-pricetags"></i>Sconto del 50%</a></div>
    <div class="discount-box"> <a href="" <i class="icon ion-md-pricetags"></i>>Sconto del 60%</a></div>
    <div class="discount-box"> <a href=""><i class="icon ion-md-pricetags"></i>Sconto del 70%</a></div>
    <div class="discount-box"> <a href=""><i class="icon ion-md-pricetags"></i>Svendite magazzino</a></div>
  </div>
</section>
<section class=" section cities" style="background: #ccc;">
  <div class="section-header">
    <div class="text">
      <h2>Piazze attive nel Veneto</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    <div class="cta">
      <a href="/cities" class="btn"> <i class="icon ion-md-apps"></i> Vedi tutto</a>
    </div>
  </div>
  <div class="section-body grid-6-small mt-1 text-center" style="overflow: hidden;">
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/734229/pexels-photo-734229.jpeg?cs=srgb&dl=art-ceremony-classic-734229.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Venezia</h3>
        <a href="">20 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/5956/gift-brown-shopping-market.jpg?cs=srgb&dl=bag-bags-bargain-5956.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Verona</h3>
        <a href="">30 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/5205/food-healthy-vegetables-potatoes.jpg?cs=srgb&dl=aubergines-bio-cabbage-5205.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Mestre</h3>
        <a href="">15 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/205961/pexels-photo-205961.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Treviso</h3>
        <a href="">5 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/1086164/pexels-photo-1086164.jpeg?cs=srgb&dl=background-city-classic-1086164.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Vicenza</h3>
        <a href="">25 offerte disponibili</a>
      </div>
    </div>
    <div class="box" style="position: relative">
      <img src="https://images.pexels.com/photos/264771/pexels-photo-264771.jpeg?cs=srgb&dl=birthday-bow-box-264771.jpg&fm=jpg"
        alt="" style="width: 100%">
      <div class="text-block" style="top: 0; bottom: 0; left: 0; right:0; padding-top: 3em;">
        <h3>Padova</h3>
        <a href="">20 offerte disponibili</a>
      </div>
    </div>

</section>
{{!-- newsletter|start --}}
<section class=" section newsletter" style="background: #bbb;">
  <div class="text">
    <h3>Sii tra i primi a saperlo</h3>
    <h5>Oltre 10 000 persone ricevono le offerte migliori blablabla</h5>
    <p>Inserendo la tua mail confermi di sottoscrivere <a href="">Termini e condizioni</a> e <a href="">Privacy policy</a> </p>
  </div>
  <form action="/newsletter" method="POST">
    <input type="text" placeholder="Inserisci tua email" style="padding: 1.5em">
    <button type="submit" style="padding: 1.4em 1.5em"><i <i class="icon ion-md-mail"></i></button>
  </form>
</section> {{!-- newsletter|start --}}