<div style="display:flex; flex-direction:column">
  <div style="display: flex;">
    <div>
      <img src="../public/css/logos/calzedonia_logo.jpg" alt="">
    </div>
    <div>
      <h2>Nome negozio</h2>
      <div class="details">
        <p>Via Negozio</p>
        <p>Citta'</p>
        <p>Provincia</p>
        <p>tel. 012-345-678</p>
      </div>
    </div>

    <div style="display: flex; flex-direction: column">
      <a href="" class="btn" style="margin-bottom: 10px">Sito web</a>
      <a href="" class="btn">Direzione</a>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <img src="../public/images/img1.jpg" alt="">
    </div>
    <div>
      <h3>Descrizione negozio</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dolorum provident! Itaque quia quod
        recusandae error temporibus! Corporis maxime, assumenda ut ipsa magni praesentium sed error necessitatibus sit
        perferendis. Unde laudantium ullam aliquam nemo id hic cupiditate maiores eum voluptatum impedit, eius aliquid
        ducimus culpa ipsa possimus sequi cumque obcaecati.</p>
    </div>
  </div>

  <div class="coupons">
    <div class="box" style="padding: 2em; display: flex; flex-direction: column; justify-content: space-between; align-items:start;">
      <div style="display: flex; ">
        <div class="card-header" style="margin-right: 15px;">
          <img src="../public/css/logos/calzedonia_logo.jpg" alt="" style="width:80px; height=80px; box-shadow: var(--shadow);">
        </div>
        <div class="card-body">
          <h3>Nome negozio</h3>
          <p>Descrizione offerta Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, deleniti?</p>
          <p>Scadenza offerta</p>
          <a href="">Scarica l'offerta</a>
         
        </div>
      </div>
      <div class="card-footer">
        <p>Condizioni</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, rerum.</p>
      </div>
    </div>
  </div>
</div>