@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
  --primary-color: #511A64 ;
  --accent-color: #217B1C;
  --text-color: #252126 ;
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}