@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
  --primary-color: #511A64;
  --accent-color: #217B1C;
  --text-color-dark: #252126;
  --text-color-light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Robot', sans-serif;
  font-size: 14px;
  color: var(--text-color);
}
body{
  background: #ccc;
  line-height: 1.4;
}
a{
  text-decoration: none;
  color: var(--accent-color);
}

.btn{
  background: var(--primary-color);
  color: var(--text-color-light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}
img{
  max-width: 100%;
}
.wrapper{
  display: grid;
  grid-gap: 20px;
}
.nav{
  display: flex;
  flex-direction: column;
  background: #fff;
}
.flex{
  display: flex;
  justify-content: space-between
}
.navbar{
  display: flex;
  list-style-type: none;
}
.nav-link{
  display: block;
  padding-right: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
}